.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  max-width: 600px;
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;

  background: linear-gradient(145deg, #2a2a2a, #1e1e1e);

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05), 0 0 40px rgba(255, 255, 255, 0.03);

  transition: all 0.3s ease-in-out;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 70px;
  font-size: 2.8rem;
  font-weight: 700;
  background: linear-gradient(270deg, #7f5af0, #b3a4f7, #2cb67d, #7f5af0);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 10s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

a {
  display: flex;
  justify-content: center;
}
